* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;

}


body {

    display: flex;
    /* Determina como os elementos irao aparecer na tela */
    justify-content: center;
    /* Como irá justificar o texto */
    align-items: center;
    /* Como irá alinhar os itens */
    height: 100vh;
    /* Altura, vh */
    width: 100vw;
    /* Largura, vw */

    background-image: url("https://source.unsplash.com/1600x900/?landscape");
}

.caixa-maior {
    background-color: #000000;
    /* Troca a cor do fundo */
    width: 95%;
    /* Largura, porcentagem da tela que irá ocupar */
    max-width: 420px;
    /* Largura máxima */
    opacity: 0.8;
    /* transparencia do item */
    padding: 20px;
    border-radius: 25px;


}

input {

    border: none;
    /* borda do elemento */
    outline: none;
    /* borda quando seleciona o elemento */
    padding: 10px;
    /* espacamento interno */
    border-radius: 24px;
    /* arredonda as bordas */
    font-size: 20px;
    background-color: #7C7C7C2B;
    color: #FFFFFF;
    width: calc(100% - 100px);

}


h2 {
    color: white;
    font-size: 28px;
    /* Tamanho do texto */

}

.temp {
    color: #FFFFFF;
    margin-top: 30px;

}

.descricao {

    color: #FFFFFF;
    text-transform: capitalize;
    margin-left: 10px;

}

.lupa {

    height: 20px;

}

button {

    border: none;
    outline: none;
    padding: 10px;
    border-radius: 50px;
    background-color: #7C7C7C2B;
    float: right;
    cursor: pointer;
}

button:hover {
    background-color: #7C7C7C6B;
}


.caixa-media {

    margin-top: 30px;
    margin-bottom: 10px;
}

.umidade {

    color: #FFFFFF;
    margin-top: 30px;
    margin-bottom: 30px;

}

.caixa-menor {
    
    display: flex;
    margin-top: 30px;
    align-items: center;


}